@import 'scss/config';

.block {
  @include size(100%);
  @include flex(center, center);
}

.spin {
  --b: 8px; 

  @include make-spacer(p, rem(1px));

  width: rem(50px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(transparent 10%, var(--color_success, var(--color-black))) content-box;
  -webkit-mask:
    repeating-conic-gradient(transparent 0deg, var(--color-black) 1deg 20deg, transparent 21deg 36deg),
    radial-gradient(farthest-side, transparent calc(100% - var(--b) - 1px), var(--color-black) calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: spin 1s infinite steps(10);
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}