@use 'scss/config' as *;

.block {
  @include make-spacer(py, var(--gap-2));
  
  background-color: var(--color-black);
  width: fit-content;

  &.sm {
    @include make-spacer(px, var(--gap-6));

    border-radius: rem(11px);
    font-size: rem(12px);
  }

  &.lg {
    @include make-spacer(px, var(--gap-16));

    border-radius: rem(16px);
    font-size: rem(24px);
  }
}