@use 'scss/config' as *;

.block {
  // @include flex($direction: column);
  
  // overflow: hidden;
  // height: 100%;
}

.table {
  @include make-spacer(px, var(--gap-4));
}

.row {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  background-color: var(--aside_background_color_alt);
  border-radius: var(--border-radius-4);
  height: rem(34px);
  font-size: rem(12px);

  &:not(:last-child) {
    @include make-spacer(mb, var(--gap-2));
  }
}

.cell {
  @include make-spacer(px, var(--gap-4));

  &:nth-child(3) {
    text-align: right;
  }
}