@use 'scss/config' as *;

.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: var(--gap-16);
}

.button {  
  display: grid;
  grid-template-columns: rem(32px) 1fr;
  align-items: center;
  gap: var(--gap-8);
  text-transform: uppercase;

  &.active {
    pointer-events: none;

    .image {
      border-color: var(--color_success);
    }
  }

  @include hover {

    &:hover {

      .image {
        border-color: var(--color_danger);
      }
    }
  }
}

.text {
  text-align: left;
  font-size: rem(14px)
}

.image {
  @include transition;
  @include size(rem(32px));

  border-radius: 50%;
  border: rem(2px) solid var(--button_background_color);
  overflow: hidden;
}

.picture {
  object-fit: cover;
}