@use 'scss/config' as *;

.block {
  @include flex(space-between, center);
  @include make-spacer(py, var(--gap-4));
  @include make-spacer(px, var(--gap-8));

  position: relative;
  background-color: var(--nav_background_color);
  color: var(--color_text);
}

.logo {
  @include size(rem(84px), 100%);
}

.options {
  @include flex($align-items: center);

  height: 100%;
}

.toggle {
  @include flex(center, center);
  @include size(rem(32px));

  border-radius: 50%;
  background-color: var(--button_background_color);
}

.balance {
  @include flex($align-items: center);
  @include make-spacer(px, var(--gap-12));
  @include make-spacer(mr, var(--gap-8));

  border-radius: rem(64px);
  background-color: var(--button_background_color);
  gap: var(--gap-4);
  height: rem(32px);
  font-size: rem(12px);
}

.currency {
  opacity: 0.4;
}

.shadow {
  position: fixed;
  inset: 0;
  background-color: var(--color-black-alpha-05);
}

.dropdown {
  @include flex($direction: column);
  @include make-spacer(p, var(--gap-8));

  position: absolute;
  top: 100%;
  right: var(--gap-8);
  width: rem(278px);
  gap: var(--gap-8);
  background-color: var(--button_background_color);
  border-radius: var(--border-radius-14);
}

.header {
  display: grid;
  place-items: center;
  gap: var(--gap-8);
  cursor: pointer;
  text-align: center;
}

.nickname {
  color: var(--color_text_alt);
  font-size: rem(14px);
}

.wrapper {
  border-radius: var(--border-radius-14);
  background-color: var(--button_background_color_alt);
}

.language {
  @include size(rem(24px));

  border-radius: 50%;
  background-color: var(--button_background_color);
  border: rem(2px) solid var(--button_background_color);
  overflow: hidden;
}

.image {
  object-fit: cover
}

.loading {
  @include size(rem(240px));
}

.link {
  @include make-spacer(px, var(--gap-12));
  @include flex($align-items: center);
  @include size(100%, rem(40px));

  gap: var(--gap-8);
  font-size: rem(14px);
  color: var(--color_text);

  @include hover {

    &:hover {
      color: var(--color_text_alt);

      .icon {
        opacity: 1;
      }
    }
  }

  &.disable {
    color: inherit;

    .icon {
      opacity: 0.5;
    }
  }
}

.text {
  flex: 1;
}

.icon {
  opacity: 0.5;
  flex-shrink: 0;
}