@use 'scss/config' as *;

.block {
  @include make-spacer(p, var(--gap-8));

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-8);
  background-color: var(--button_background_color);
  border-radius: var(--border-radius-14);
  overflow: hidden;
  font-size: rem(12px);
}

.cell {

  &:nth-child(1) {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--gap-8);
  }

  &:nth-child(2) {
    place-items: flex-end;
  }
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  &:not(:last-child) {
    @include make-spacer(mb, var(--gap-2));
  }

  * {

    &:last-child {
      text-align: right;
    }
  }
}

.text {
  color: var(--color_text_alt);
}