@use 'scss/config' as *;

.block {
  @include flex(center, center);
  @include size(rem(24px));

  border-radius: 50%;
  background-color: var(--button_background_color_alt);
  
  &.sm {
    @include size(rem(24px));
  }

  &.lg {
    @include size(rem(32px));
  }

  @include hover {

    &:hover {
      color: var(--color_text_alt);
    }
  }
}