@use 'scss/config' as *;

.block {
  @include flex($direction: column);

  background-color: var(--aside_background_color);
  border-radius: var(--border-radius-8);
  overflow: hidden;
  color: var(--color_text);
}

.header,
.footer {
  @include make-spacer(p, var(--gap-8));
}

.body {
  flex-grow: 1;
}

.footer {
  border-top: rem(1px) solid var(--aside_background_color-alt);
  background-color: var(--aside_background_color_alt);
  font-size: rem(12px);
}

.tab {
  @include make-spacer(p, rem(2px));
  @include make-spacer(mx, auto);
  @include flex;

  gap: var(--gap-8);
  height: rem(24px);
  width: fit-content;
  background-color: var(--aside_background_color_alt);
  border-radius: rem(12px);
}

.link {
  width: rem(100px);
  border-radius: inherit;
  color: var(--color_text);
  font-size: rem(12px);

  &.active {
    pointer-events: none;
    background-color: var(--button_background_color);
    color: var(--color_text_alt);
  }

  @include hover {
    
    &:hover {
      color: var(--button_background_color_alt);
    }
  }
}