@use 'scss/config' as *;

.block {
  @include flex($direction: column);
  @include make-spacer(p, var(--gap-8));

  background-color: var(--aside_background_color);
  border-radius: var(--border-radius-16);
  overflow: hidden;
  color: var(--color_text);
}

.header {
  @include make-spacer(p, var(--gap-8));
}

.body {
  flex-grow: 1;
}

.footer {
  @include make-spacer(px, var(--gap-8));

  font-size: rem(12px);
}

.tab {
  @include make-spacer(mx, auto);
  @include flex;

  gap: var(--gap-8);
  height: rem(32px);
  width: fit-content;
}

.link {
  @include make-spacer(px, var(--gap-12));

  min-width: rem(94px);
  border-radius: rem(64px);
  color: var(--color_text);
  font-size: rem(12px);

  &.active {
    pointer-events: none;
    background-color: var(--button_background_color_alt);
    color: var(--color_text_alt);
  }

  @include hover {
    
    &:hover {
      color: var(--color_text_alt);
    }
  }
}