@use 'scss/config' as *;

.block {
  @include make-spacer(p, var(--gap-4));

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: flex-start;
  border-radius: var(--border-radius-8);
  background-color: var(--game_background_color_alt);
  gap: var(--gap-8);
}

.list {
  @include flex($align-items: center, $wrap: wrap);

  gap: var(--gap-4);
}

.full {
  @include flex($align-items: center);

  gap: var(--gap-4);
  border-radius: rem(17px);
  height: rem(20px);
  font-size: rem(12px);
  padding: 0 8px 0 3px;
  white-space: nowrap;
  background-color: var(--button_background_color);
  border: rem(1px) solid var(--color_text);

  @include hover {
    
    &:hover {
      color: var(--button_background_color_alt);
    }
  }

  &.active {
    color: var(--button_background_color_alt);
    border-color: var(--button_background_color_alt);
  }
}
