@use 'scss/config' as *;

.block {
  @include flex($direction: column);

  overflow: hidden;
  height: 100%;
}

.header {
  @include make-spacer(mb, var(--gap-16));
  @include flex($direction: column);

  gap: var(--gap-8);
  flex-shrink: 0;
}

.tab {
  @include make-spacer(p, rem(2px));
  @include make-spacer(mx, auto);
  @include flex;

  gap: var(--gap-8);
  height: rem(24px);
  width: fit-content;
  background-color: var(--aside_background_color_alt);
  border-radius: rem(12px);

  &.alt {
    background-color: transparent;

    .link {
      background-color: transparent;
      border: rem(1px) solid transparent;

      &.active {
        border-color: var(--color_text_alt);
      }
    }
  }
}

.link {
  width: rem(100px);
  border-radius: inherit;
  color: var(--color_text);
  font-size: rem(12px);

  &.active {
    pointer-events: none;
    background-color: var(--button_background_color);
    color: var(--color_text_alt);
  }

  @include hover {
    
    &:hover {
      color: var(--button_background_color_alt);
    }
  }
}