@use 'scss/config' as *;

.block {
  @include flex($direction: column);

  overflow: hidden;
  height: 100%;
  gap: var(--gap-4);
}

.header {
  @include flex(space-between, center);
  @include make-spacer(p, var(--gap-12));

  flex-shrink: 0;
  border-radius: var(--border-radius-12);
  overflow: hidden;
  background-color: var(--button_background_color);
  background-image: linear-gradient(180deg, rgba(96, 229, 111, .11) 0%, rgba(96, 229, 114, 0) 100%), linear-gradient(180deg, rgba(20, 20, 20, .16) 0%, rgba(20, 20, 20, 0) 100%);
  border: rem(1px) solid var(--button_background_color);
}

.table {
  @include flex($direction: column);

  gap: var(--gap-4);
}

.row {  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: rem(10px);
}

.cell {
  @include make-spacer(p, var(--gap-4));
  
  text-align: right;

  &:nth-child(1) {
    text-align: left;
  }
}