@use 'scss/config' as *;

:root {
  // Window
  --background_color: #141414;

  // Nav
  --nav_background_color: transparent;
  --nav_height: 40px;

  // Modal
  --modal_background_color: #1f1f1f;

  // Game
  --game_background_color: #1f1f1f;

  // Aside
  --aside_background_color: #1f1f1f;
  
  // Button
  --button_background_color: #292929;
  --button_background_color_alt: #1f1f1f;

  --color_text: #a3a3a3;
  --color_text_alt: #f5f5f5;

  --color_danger: #dc3545;
  --color_success: #60e572;
}

.block {
  @include size(100vw, 100vh);
  
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--background_color);
  color: var(--color_text);
}

.body {
  @include make-spacer(px, var(--gap-8));
  @include make-spacer(pb, var(--gap-8));

  display: grid;
  grid-template-areas:
    "content"
    "sidebar"
  ;
  gap: var(--gap-8);

  @include media-breakpoint-up(lg) {
    grid-template-areas: "sidebar content";
    grid-template-columns: rem(320px) 1fr;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: rem(410px) 1fr;
  }
}

a,
button {
  color: var(--color_text);
}