@use 'scss/config' as *;

:root {
  // Nav
  --nav_background_color: transparent;
  --nav_background_color_alt: #1f1f1f;

  // Modal
  --modal_background_color: #1f1f1f;
  --modal_background_color_alt: #2C2D30;

  // Game
  --game_background_color: #141414;
  --game_background_color_alt: #1a1a1a;

  // Aside
  --aside_background_color: #1f1f1f;
  // --aside_background_color_alt: #1f1f1f;
  
  // Button
  --button_background_color: #292929;
  --button_background_color_alt: #2e2e2e;

  --color_text: #a3a3a3;
  --color_text_alt: #f5f5f5;

  --color_danger: #dc3545;
  --color_danger_alt: #e00f24;
  --color_success: #60e572;
  --color_success_alt: #123406;
}

.block {
  @include size(100vw, 100vh);
  
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--game_background_color);
  color: var(--color_text);

  a,
  button {
    color: var(--color_text);
  }
}

.body {
  @include make-spacer(px, var(--gap-8));
  @include make-spacer(pb, var(--gap-8));

  display: grid;
  grid-template-columns: rem(320px) 1fr;
  gap: var(--gap-8);

  @include media-breakpoint-up(md) {
    grid-template-columns: rem(370px) 1fr;
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: rem(410px) 1fr;
  }
}