@use 'scss/config' as *;

.block {
  @include flex(center, center);
  @include make-spacer(p, rem(30px));

  position: fixed;
  inset: 0;
  z-index: $z-index-9;
}

.header {
  @include make-spacer(px, var(--gap-16));
  @include flex(space-between, center);

  border-bottom: rem(1px) solid var(--button_background_color);
  flex-shrink: 0;
  color: var(--color_text_alt);
}

.title {
  @include flex($align-items: center);

  gap: var(--gap-6);
  font-family: var(--font-family-alt);
}

.shadow {
  position: absolute;
  inset: 0;
  background-color: var(--color-black-alpha-05);
}

.content {
  @include flex;

  border-radius: var(--border-radius-16);
  background-color: var(--modal_background_color);
  overflow: hidden;
  max-height: 100%;
  max-width: rem(800px);
  width: fit-content;
  z-index: $z-index-1;
}

.wrapper {
  display: grid;
  grid-template-rows: rem(48px) 1fr;
  width: 100%;
}

.close {
  @include flex(center, center);
  @include size(rem(32px));

  border-radius: 50%;
  background-image: linear-gradient(0deg,#333 0%,#383838 100%);
  color: var(--color_text);

  @include hover {

    &:hover {
      color: var(--color_text_alt);
    }
  }
}

.body {
  @include make-spacer(p, var(--gap-16));
  @include scroll;
}