@use 'scss/config' as *;

.block {
  @include flex(center, center);
  @include make-spacer(p, rem(30px));

  position: fixed;
  inset: 0;
  z-index: $z-index-9;
  background-color: var(--color-black-alpha-05);
}

.header,
.footer {
  @include make-spacer(px, var(--gap-16));
  @include flex($align-items: center);

  flex-shrink: 0;
  background-color: var(--modal_background_color_alt);
}

.title {
  @include flex($align-items: center);

  gap: var(--gap-6);
  font-family: var(--font-family-alt);
}

.content {
  @include flex;

  border-radius: var(--border-radius-6);
  background-color: var(--modal_background_color);
  overflow: hidden;
  max-height: 100%;
  max-width: rem(800px);
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: rem(36px) 1fr rem(58px);
  width: 100%;
}

.header {
  justify-content: space-between;
  color: var(--color_text_alt);
}

.close {
  display: inline-flex;
  color: var(--color_text);

  @include hover {

    &:hover {
      color: var(--color_text_alt);
    }
  }
}

.body {
  @include make-spacer(p, var(--gap-16));
  @include scroll;
}

.footer {
  justify-content: center;
}

.button {
  @include make-spacer(px, var(--gap-16));
  @include make-spacer(py, var(--gap-6));

  border-radius: var(--gap-6);
  font-family: var(--font-family-alt);
  color: var(--color_text);
  border: rem(1px) solid currentColor;

  @include hover {

    &:hover {
      color: var(--color_text_alt);
    }
  }
}